# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
target/
*.iml

# Eclipse workspace
.metadata/

# Eclipse Settings directory
.settings/

# Eclipse Java project classpath
.classpath

# Eclipse Project file
.project

# Eclipse PyDev project
.pydevproject

# Eclipse Checkstyle plugin configuration
.checkstyle

# Eclipse PMD plugin configuration
.eclipse-pmd
.pmd

# Eclipse (R)emote (S)ervers (E)xtensions
RemoteSystemsTempFiles/

# Eclipse application servers
Servers/

# Eclipse code recommenders
.recommenders/

# Eclipse tool builders configurations overrides
.externalToolBuilders/

# Eclipse Spring Tools Suite
.springBeans

# Eclipse Java annotation processor (APT)
.factorypath

# Files open for VI
*.swp

# IntelliJ workspace
.idea

